{% extends 'core/index.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block title %} Payment | {% endblock %}


{% block content %}
<div class="container">
    {% comment %} <div class="d-flex row justify-content-center align-items-center py-md-5 py-3" style="min-height: 90vh;"> {% endcomment %}
        {% comment %} <div class="col-12"> {% endcomment %}
            <h5>Make payment for: NGN {{ payment.amount }}</h5>
            <hr>
                {% comment %} check for problem later on {% endcomment %}
            <script src="https://js.paystack.co/v1/inline.js"></script> 
            <button class="btn btn-large btn-success" on_click='payWithPayStack()' id="django-paystack-button">Make Payment</button>
            
        {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
</div>
{% endblock %}

<script>
    function payWithPayStack(){
        let currency = "NGN";
        let plan = '';
        let ref = "{{ payment.ref }}";
        let obj = {
            key:"{{ paystack_public_key}}",
            email: "{{ payment.email}}",
            amount: "{{ payment.amount_value}}",
            ref: ref,
            callback: function(response){
                window.location.href = "{% url 'verify_payment' payment.ref %}"
            };
        };

        if (Boolean(currency)){
            obj.currency = currency.Uppercase()
        };
        if (Boolean(plan)){
            obj.plan;
        };
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    };
</script>

{% comment %} const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);
function payWithPaystack(e) {
e.preventDefault();

let handler = PaystackPop.setup({
    key: 'pk_test_xxxxxxxxxx', // Replace with your public key
    email: document.getElementById("email-address").value,
    amount: document.getElementById("amount").value * 100,
    ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
    // label: "Optional string that replaces customer email"
    onClose: function(){
    alert('Window closed.');
    },
    callback: function(response){
    let message = 'Payment complete! Reference: ' + response.reference;
    alert(message);
    }
});
handler.openIframe();
}  {% endcomment %}