{% extends 'core/base.html' %}
{% block title %} Become Canteen | {% endblock %}

{# change the form to be a better looking way#}
{% block content %}
    <h1 class="title"> Become Canteen </h1>

    <form method="post" action="." >
        {% csrf_token %}

        {{ form.as_p }}

        <div class='field'>
            <div class = 'control'>
                <button class = 'button is-dark is-uppercase'>Sign Up</button>
            </div>
        </div>
    </form>

    <hr>

    <h2 class = 'subtitle'> Already an admin? </h2>

    <a href = "{% url 'login' %}">Log in </a>


{% endblock %}